/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pastesSearcher.iml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Config/config.xml~
/Include/ProxyListCreator.pyc
/Include/__init__.pyc
/Include/codepad.pyc
/Include/commonlib.pyc
/Include/copytaste.py
/Include/copytaste.pyc
/Include/dropbucket.pyc
/Include/dzone.pyc
/Include/githubgist.pyc
/Include/ideone.pyc
/Include/linkpaste.pyc
/Include/lpaste.pyc
/Include/pastebin.pyc
/Include/pastelisp.pyc
/Include/pasteru.pyc
/Include/pastie.pyc
/Include/slexy.pyc
/Include/snipt.pyc
